.object-counter-container {    
    max-width: 350px;
    min-width: 350px;

    &.readonly {
        pointer-events: none;
        img {
            filter: invert(70%);
        }
    }

    .mandatory-symbol {
        color: #e5a038;
        font-weight: 700;
    }

    .label-container {
      label {
        font-size: 12px;
        opacity: 0.6;
      }
    }

    .field-container {
        display: flex;
        border-bottom: 1px solid rgb(0, 0, 0, 0.3);
        display: flex;

        &.invalid-field {
            border-bottom: 1px solid red;
        }

        .camera-button-container {
            width: 20%;
            width: 20%;
            text-align: right;

            .camera-button {
                background: none;
                border: none;
                font-size: 12px;

                img {
                    width: 24px;
                }
            }
        }

        img {
            width: 100px;
        }

        .input-container {
            width: 80%;

            input {
                border: none;
                background: none;
                width: 100%;
                outline: none;
            }
        }

        .delete-button {
            background: none;
            border: none;
            font-size: 12px;

            img {
                width: 24px;
            }
        }
    }

    .error-message {
        color: red;
        font-size: 12px;
        margin: 0px;
    }
}