.object-counter-container {    
    max-width: 350px;
    min-width: 350px;
    background-color: white;

    &.readonly {
      pointer-events: none;
        button {
            img {
                filter: invert(70%);
            }
        }
    }

    &.filled {
      background-color: #f5f5f5;
      padding: 2px;
      border-radius: 5px;
    }

    .mandatory-symbol {
        color: #e5a038;
        font-weight: 700;
    }

    .label-container {
      label {
        font-size: 12px;
        opacity: 0.6;
      }
    }

    .field-container {
        display: flex;
        border-bottom: 1px solid rgb(0, 0, 0, 0.3);
        display: flex;

        &.invalid-field {
            border-bottom: 1px solid red;
        }

        img {
            width: 100px;
        }

        .input-container {
            width: 100%;
            input {
                border: none;
                background: none;
                width: 100%;
                outline: none;
            }
        }

        .actions-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            &.disabled {
              button:first-child {
                pointer-events: none;
                img {
                    filter: invert(70%);
                }
              }
            }
            button {
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              border: 0px solid;
              background: none;
              font-size: 12px;
              user-select: none;
              img {
                width: 24px
              }
            }
          }
    }

    .error-message {
        color: red;
        font-size: 12px;
        margin: 0px;
    }

    cotecna-dialog {
      .image-container {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
}

